services: 
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-service
    env_file: .env
    environment:
      - EXPOSED_PORT=8080
    ports:
      - "8080:8080"
    networks:
      - touiteur-network
      - frontend-network
    volumes:
      - uploads:/usr/src/app/public/uploads
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx-service
    ports:
      - "80:80"
      - "443:443"
    networks:
      - frontend-network
    volumes:
      - /etc/letsencrypt/ssl:/etc/nginx/ssl:ro
      - uploads:/srv/public/uploads

  api-gateway:
    image: nginx:latest 
    container_name: api-gateway 
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt/api/ssl:/etc/nginx/ssl:ro
    ports:
      - "3000:443"
    networks:
      - touiteur-network
     

  touites-service:
    build:
      context: ./services/touites-manager
      dockerfile: Dockerfile
    container_name: touites-service
    env_file: .env
    environment:
      - EXPOSED_PORT=3001
    ports:
      - "3001:3001"
    networks:
      - touiteur-network

  accounts-service:
    build:
      context: ./services/accounts-manager
      dockerfile: Dockerfile
    container_name: accounts-service
    env_file: .env
    environment:
      - EXPOSED_PORT=3002
    ports:
      - "3002:3002"
    networks:
      - touiteur-network
  
  reports-service:
    build:
      context: ./services/report-manager
      dockerfile: Dockerfile
    container_name: reports-service
    env_file: .env
    environment:
      - EXPOSED_PORT=3003
    ports:
      - "3003:3003"
    networks:
      - touiteur-network
  
  likes-service:
    build:
      context: ./services/likes-manager
      dockerfile: Dockerfile
    container_name: likes-service
    env_file: .env
    environment:
      - EXPOSED_PORT=3004
    ports:
      - "3004:3004"
    networks:
      - touiteur-network

  follow-service:
    build:
      context: ./services/follow-manager
      dockerfile: Dockerfile
    container_name: follow-service
    env_file: .env
    environment:
      - EXPOSED_PORT=3005
    ports:
      - "3005:3005"
    networks:
      - touiteur-network
  groups-service:
    build:
      context: ./services/groups-manager
      dockerfile: Dockerfile
    container_name: groups-service
    env_file: .env
    environment:
      - EXPOSED_PORT=3006
    ports:
      - "3006:3006"
    networks:
      - touiteur-network
  messages-service:
    build:
      context: ./services/messages-manager
      dockerfile: Dockerfile
    container_name: messages-service
    env_file: .env
    environment:
      - EXPOSED_PORT=3007
    ports:
      - "3007:3007"
    networks:
      - touiteur-network

  files-service:
    build:
      context: ./services/files-manager
      dockerfile: Dockerfile
    container_name: files-service
    env_file: .env
    environment:
      - EXPOSED_PORT=3008
    ports:
      - "3008:3008"
    networks:
      - touiteur-network
    volumes:
      - uploads:/usr/src/app/uploads

  notifications-service:
    build:
      context: ./services/notification-manager
      dockerfile: Dockerfile
    container_name: notifications-service
    env_file: .env
    environment:
      - EXPOSED_PORT=3009
    ports:
      - "3009:3009"
    networks:
      - touiteur-network
  ai-service:
    build:
      context: ./services/ai-manager
      dockerfile: Dockerfile
    container_name: ai-service
    env_file: .env
    environment:
      - EXPOSED_PORT=3010
    ports:
      - "3010:3010"
    networks:
      - touiteur-network


networks:
  touiteur-network:
    driver: bridge
  frontend-network:
    driver: bridge

volumes:
  uploads:
    external: true
    name: uploads